@charset "UTF-8";

:root {
  --BG-COLOR-BLACK: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: whitesmoke;
}

body {
  /* background-image: url(../img/aquarium.jpg); */
  overflow-x: hidden;
}

header {
  /* background-image: url(../img/BEAT.png); */
  background-color: navy;
  position: relative;
  height: 120px;
  background-size: cover;
  size: 100%;
}

/* NAV */
.navbar {
  position: fixed;
  display: flex;
  padding-left: 0;
  margin-top: 10px;
  margin-bottom: 10px;
  list-style: none;
  color: whitesmoke;
  border: 2px solid yellow;
  justify-content: space-between;
  gap: 3rem;
  background-color: hsla(0, 0%, 0%, 0.5);
  width: 100%;
  z-index: 1;
}

.rc-logo {
  position: fixed;
  margin-left: 20px;
  background-color: transparent;
  position: relative;
  width: 99px;
  height: 90px;
  display: block;
  left: 40px;
  border: 2px solid whitesmoke;
}

/* Language box */

.language-option {
  position: relative;
  background-color: rgb(255, 1, 1);
  color: #333;
  padding-left: 5px;
  padding-top: 8px;
  border: 2px solid blueviolet;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
  height: 50px;
  margin-top: 1.2rem;
  margin-left: 3.5rem;
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  box-shadow: 10px -10px rgb(1, 255, 1), 20px -20px rgb(1, 1, 255);
  z-index: 1;
  transition: all 0.8s ease;
}

.language-option:hover,
.language-option:focus,
.language-option:focus-within {
  box-shadow: 0px 0px rgba(1, 255, 1, 1), 0px 0px rgba(1, 1, 255, 1);
  transform: scale(1.05);
  background-color: #fff;
  transition: all 0.8s ease;
}

.language-option a {
  text-decoration: none;
}

.dropdown:focus .language-text,
.dropdown:focus-within .language-text,
.dropdown:hover .language-text {
  color: #333;
  transform: color;
}

.arrow {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 5px;
  border-top: 5px solid whitesmoke;
  border-left: 5px solid whitesmoke;
  transform: rotate(225deg);
  right: 30px;
  bottom: 15px;
  transition: transform 0.3s;
  z-index: 1;
}

.language-option:hover .arrow,
.language-option:focus .arrow,
.language-option:focus-within .arrow {
  transform: rotate(765deg);
  position: absolute;
  bottom: 8px;
  border-top: 5px solid #333;
  border-left: 5px solid #333;
}

/* dropdown menu style */
.dropdown-language {
  background-color: transparent;
  display: none;
  position: relative;
  width: 200px;
  left: -7px;
  top: 8px;

  transition: all 0.3s;
  transform-origin: top right;
  animation: showLanguage 0.3s ease-in-out forwards;
}

@keyframes showLanguage {
  0% {
    transform: scaleY(0);
  }

  80% {
    transform: scaleY(1.2);
  }

  100% {
    transform: scaleY(1);
  }
}

:is(.dropdown:hover, .dropdown:focus-within) .dropdown-language {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: hsla(0, 0%, 0%, 0.5);
  cursor: pointer;
  transform-origin: top;
}

.dropdown-language a:hover,
.dropdown-language a:focus {
  transform: scale(1.05);
  color: #ff014f;
}

.dropdown-language .listlanguage {
  margin-left: -2px;
  display: flex;
  flex-direction: column;
  width: 200px;
  list-style: none;
  text-decoration: none;
  background-color: transparent;
  color: white;
  padding-left: 8px;
  padding-top: 8px;
  border-radius: 5px;
  transition: all 0.3s;
  outline: 2px sold black;
}

.language-option:focus .dropdown-language,
.language-option:focus-within .dropdown-language,
.language-option:hover .dropdown-language {
  z-index: 1;
  transform: translateY(0);
  transition-delay: 0s, 0s, 1s;
}

/* sub nav */

.sub-nav {
  width: 500px;
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: bolder;
  font-family: "Montserrat", sans-serif;
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
  padding-top: 1.5rem;
  padding-left: 2rem;
  border: 2px solid whitesmoke;
  flex-grow: 1;
}

.sub-nav a {
  text-decoration: none;
}

.menu {
  border: 2px solid red;
  color: #333;
  margin-top: 20px;
  display: none;
  padding-right: 2rem;
  margin-right: 2rem;
}

.header-main {
  border: 2px solid rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 88vh;
  color: rgb(245, 245, 245);
  position: relative;
}









/* Footer */

footer {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 75%;
  height: 300px;
  background-color: gray;
  display: flex;
  flex-direction: column;
}

.top-footer {
  width: 100%;
  height: 250px;
  background-color: rgb(70, 65, 65);
  outline: auto;
  display: flex;
  flex-direction: row;
  position: relative;
}

.sub-footer {
  display: flex;
  justify-content: space-between;
  outline: 1px solid white;
  width: 33.3%;
  height: auto;
  background-color: aquamarine;
  margin: 10px 5px 10px 5px;
  text-align: left;
}

.sub-footer.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(19, 164, 45);
  position: relative;
}

.footer-logo {
  margin: 30px 5px 10px 5px;
}
.sosmed {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-evenly;
  flex-flow: row wrap;
  margin: 20px 20px 20px 20px;
}
.sub-footer.mid,
.right {
  display: flex;
  justify-content: center;
  align-content: space-between;
}

.about,
.more {
  margin: 10px 20px 40px 20px;
  font-size: 2.5rem;
}

.about a,
.more a {
  text-decoration: none;
}

.about li,
.more li {
  margin: 5px 20px 0 20px;
  font-size: 1.25rem;
  list-style-type: none;
}
