@charset "UTF-8";

:root {
  --BG-COLOR-BLACK: #333;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: whitesmoke;
}

body {
  /* background-image: url(../img/aquarium.jpg); */
  overflow-x: hidden;
}


/* Footer */

footer {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 81%;
  height: 100px;
  background-color: gray;
  display: flex;
  flex-direction: column;
  
}

.top-footer {
  width: 100%;
  height: 50px;
  background-color: rgb(70, 65, 65);
  outline: auto;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%  ;
  position: relative;
  grid-auto-flow: column;
  
}

.sub-footer {
  outline: 3px solid yellow;
  text-align: left;
  font-size: larger;
  font-weight: bolder;
  width: 100%;
}

.sub-footer.left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: rgb(255,1,1);
  background-image: 
  linear-gradient(#fff 0.1rem, transparent 0.1rem),
  linear-gradient(90deg, #fff 0.1rem, transparent 0.1rem);
  background-size: 0.5rem 0.5rem;

}

.footer-logo {
  margin: 5px 5px 2px 5px;
}

.sosmed {
  height: 75px;
  width: 100%;
  display: flex;
  margin: 0 px;
  justify-content: space-evenly;
  
  flex-flow: row wrap;
  outline: solid 3px black;  
  z-index: 3;
}

.sosmed-icon{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  align-self: flex-end;
  margin-bottom: 15px;
}

.label {
  color: #fff;
  background: #fff;
  border-radius: 20px;
  position: absolute;
  top: 0px;
  padding: 5px 9px;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  opacity: 0;
  pointer-events: none;
  
}

.label:before {
  position: absolute;
  content: "";
  height: 7px;
  width: 7px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.sosmed-icon:hover .label {
  opacity: 1;
  pointer-events: auto;
  top: -40px;
}

.sosmed-icon a {
  position: relative;
  height: 33px;
  width: 33px;
  border-radius: 50%;
  margin: 0;
  padding: 0;
  outline: 1px solid #fff;
  text-align: center;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  z-index: 2;
  background-color: #fff;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.sosmed-icon a .sosmedicon {
  position: absolute;
  width: 25px;
  height: 25px;
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  cursor: pointer;
  margin: 0;
  padding: 0;
  top: 3.25px;
  right: 3.75px;
  color: #333;
} 

.sosmed-icon:hover .sosmedicon{
  color: #fff;
}


.sosmed-icon:hover .label {
  text-shadow:  0px -1px 0px rgba(0,0,0,0.9);
  
}

.facebook:hover a,
.facebook:hover .label,
.facebook:hover .label:before{
  background: #3B5999;
}

.instagram:hover a,
.instagram:hover .label,
.instagram:hover .label:before{
  background: #e1306c;
}

.youtube:hover a,
.youtube:hover .label,
.youtube:hover .label:before{
  background: #DE463B;
}

.twitteX:hover a,
.twitteX:hover .label,
.twitteX:hover .label:before{
  background: #46C1F6;
}

.tiktok:hover a,
.tiktok:hover .label,
.tiktok:hover .label:before{
  background: black;
}

.linkedin:hover a,
.linkedin:hover .label,
.linkedin:hover .label:before{
  background: #313335;
}

.sub-footer.mid {
  
  
  position: relative;
  background-color: rgba(1, 255, 1);
  background-image: radial-gradient(
    circle, transparent 50%,
    #fff 50%  );
  background-size: 0.5rem 0.5rem;
}

.about {
  padding: 5px 20px 5px 20%;
  position: relative;
  font-size: 2rem;
  font-weight: bolder;
  color: #000;
  outline: solid 5px #ff014f;
  width: 100%;
  }

.about li {
  
  margin: 5px 50px 0 20px;
  
  font-size: 24px;
  list-style-type: none;
  font-weight: bolder;
  color: #000;
  font-stretch: condensed;
  outline: solid 3px #000;
  }

.sub-footer.right {
  
  position: relative;
  background-color: #000;
  background-image: 
  radial-gradient(
    circle, transparent 0.25rem,
    rgba(1, 1, 255, 0.9) 0.5rem,
    transparent 0.5rem);  
  background-size: 1rem 1rem;
  
}

.more {
  padding: 5px 20px 5px 20%;
  position: relative;
  font-size: 2rem;
  font-weight: bolder;
  color: #fff;
  outline: solid 5px #ff014f;
  width: 100%;
  
}

.more li {
  margin: 5px 50px 0 20px;
  
  font-size: 24px;
  list-style-type: none;
  font-weight: bolder;
  color: #fff;
  font-stretch: condensed;
  outline: solid 3px #fff;
}

.about a,
.more a {
  text-decoration: none;
}


.copyright {
  padding-top: 20px;
}